# See https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
	name = Sebastien Kempf
	email = 56154464+skmpf@users.noreply.github.com
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig_work
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	autocrlf = input
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[tag]
	sort = version:refname